langchain-core
langchain-community
langchain_ollama
langchain-openai
langchain_chroma
#python-dotenv
pyppeteer

easyocr

paddlepaddle        #CPU OCR
paddlepaddle-gpu    #GPU OCR
paddleocr

pypdf
pymupdf
pdf2image
langdetect
#ollama pull jeffh/intfloat-multilingual-e5-large-instruct:f16

#Speech part
ffmpeg-python
openai-whisper
pydub
noisereduce
librosa
sounddevice
pyaudio

google-cloud-texttospeech


streamlit
streamlit-lottie
streamlit_extras

protobuf==3.20.2 #required version